body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: "Segoe UI", sans-serif;
  font-weight: lighter;
  color: #a89984;
}

input {
  width: 45vw;
  height: 5vh;
  margin-bottom: 2vh;

  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}

input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

input:focus {
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

input:disabled {
  box-shadow: none;
  background: lightgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  width: 45vh;
  height: 5vh;
}

select {
  height: 5vh;
  margin-left: 2vh;
}
